*
    font-family: Open Sans
    // border: 1px dotted grey
.container
    width: (1440 - 2 * 80) / 1440 * 100%
    margin: auto
.container-2
    width: (1440 - 2 * 150) / 1440 * 100%
    margin: auto
.title
    font-family: HK Grotesk
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    font-feature-settings: "locl" 0
    color: #183B56
.link
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: #1565D8
    &:hover
        color: lighten(#1565D8, 20%)
.btn
    border-radius: 8px
    font-weight: bold
    font-size: 18px
    line-height: 25px
.btn-primary
    background: $btnPrimary
    &:hover
        background-color: lighten($btnPrimary, 10%)
.hashtag
    background: rgba(54, 179, 126, 0.1)
    border-radius: 2000px
    font-weight: 600
    font-size: 14px
    line-height: 20px
    color: #36B37E
