@mixin font($font_name, $file_name, $weigth, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weigth};
    font-style: #{$style};
  }
}

@import "_fonts";
@import "_nullstyle";

@import "_variables.sass";

@import "_manual.sass";
@import "media/_manual.sass";

@import "blocks/_header.sass";
@import "media/_header.sass";

@import "blocks/_main.sass";
@import "media/_main.sass";
