@mixin font($font_name, $file_name, $weigth, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weigth};
    font-style: #{$style};
  }
}

@import "_fonts";
@import "_nullstyle";

@import "_variables.sass";

@import "_manual.sass";
@import "media/_manual.sass";

@import "blocks/_header.sass";
@import "media/_header.sass";

@import "blocks/_main.sass";
@import "media/_main.sass";

@import "blocks/_collection.sass";
@import "media/_collection.sass";

@import "blocks/_trends.sass";
@import "media/_trends.sass";

@import "blocks/__reviews.sass";
@import "media/__reviews.sass";

@import "blocks/_history.sass";
@import "media/_history.sass";

@import "blocks/_subscribe.sass";
@import "media/_subscribe.sass";

@import "blocks/_footer.sass";
@import "media/_footer.sass";

@import "blocks/_thankyou.sass";

@import "blocks/_modal.sass";
@import "media/_modal.sass";
