@media (max-width: 1200px)
    .collection
        &__img
        &__text-wrapper
            padding-left: 20px
            padding-right: 20px
            &--small
                // margin-right: 42px
        // margin-top: 20px
        &__title
            font-size: 36px
            margin-bottom: 15px
            line-height: 46px
            letter-spacing: 0.2px
        &__text
            font-size: 16px
            line-height: 30px
        &__link
            font-size: 16px
        &__arrow
            display: none

@media (max-width: 1040px)
    .collection
        &__text-wrapper
            padding-left: 10px
            padding-right: 10px
        &__img
            &-wrapper
                &--big
                    margin-right: 20px
                &--small
                    margin-right: 15px
            &-block
                &:nth-child(1)
                    margin-bottom: 20px
                // flex-direction: column
                // flex-basis: 30%
            &__text-wrapper
                flex-basis: 30%
@media (max-width: 960px)
    .collection
        margin-top: 80px
        &-wrapper
            flex-direction: column
        &__img
            &-wrapper
                justify-content: space-around
                margin-bottom: 40px
                &--big
                    // margin-right: 20px
                &--small
                    // margin-right: 15px
                    justify-content: space-between
            &-block
                &:nth-child(1)
                    margin-bottom: 0
        &__arrow
            display: inline
@media (max-width: 768px)
    .collection
        &-wrapper
        &__img
            &-wrapper
                justify-content: space-between
                &--small
                    margin-right: 0

        &__text
            font-size: 20px
            line-height: 36px
            margin-bottom: 25px
            &-wrapper
                padding: 0
        // margin-top: 20px
        &__title
            margin-bottom: 25px
            font-size: 48px
            line-height: 60px
            font-weight: bold
            letter-spacing: 0.2px
@media (max-width: 576px)
    .collection
        &__title
        &__text
            font-size: 18px
            line-height: 32px
@media (max-width: 470px)
    .collection
        margin-top: 65px
        &__img
            &-wrapper
                flex-basis: 50%
                flex-direction: column
                &--big
                    height: 350px
                    margin-right: 0
                    // flex-basis: 10%
                    margin-bottom: 14px
                &--small
                    margin-right: 0
                    flex-direction: row
                    justify-content: space-between
            &-block
                height: 100%
                &:nth-child(2)
                    margin-left: 15px
        &__title
            font-size: 40px
            line-height: 50px
@media (max-width: 390px)
    .collection
        &__img
            object-position: 0 40%
            &-wrapper
                margin-bottom: 30px
                &--big
                    height: 300px
        &__text
            font-size: 16px
            line-height: 28px
            &-wrapper
                text-align: center
                padding: 0 10px
        &__title
            font-size: 28px
            line-height: 36px
        &__link
            display: none
