@media ( max-width: 1200px  )
    .footer
        &-wrapper
            justify-content: space-between
        &__social
            flex-basis: 20%

@media ( max-width: 992px  )
    .footer
        &-wrapper
            padding: 64px 10px 130px
            flex-wrap: wrap
            // flex-basis: 100%
            justify-content: flex-end
        &__block
            flex-basis: 26%
        &__list
            // width: 25%
            // flex-basis: 26%

        &__social
            flex-basis: 44%
            justify-self: left
            margin-right: auto
        &__title
            &--mt2
                margin-top: 48px
@media ( max-width: 768px  )
    .footer
        &-wrapper
        &__block
            flex-basis: 27%
        &__list
            // width: 25%
            // flex-basis: 27%

        &__social
            flex-basis: 40%
            justify-self: left
            // margin-right: 10px
        &__title
            &--mt2
                margin-top: 22px
@media ( max-width: 680px  )    
    .footer
        &__block
            flex-basis: 50%
        &__social
            text-align: center
            order: 1
            flex-basis: 100%
            align-items: center
            align-self: center
            margin: auto
            &-text
                text-align: center
                font-size: 14px
                line-height: 24px
                // margin-bottom: 40px
            &-list
                margin-top: 20px
                margin-left: auto
                margin-right: auto
@media ( max-width: 576px  )
    .footer
        &-wrapper
            flex-direction: column
        &__social
            
            order: 1


@media ( max-width: 470px  )
    .footer
        padding-bottom: 30px
        &-wrapper
            padding-top: 47px
            padding-left: 20px
            padding-bottom: 30px
        &__title
            font-size: 16px
            line-height: 22px
            margin-bottom: 20px
            &--mt2
                margin-top: 0
        &__block
            margin-bottom: 10px
        &__social
            flex-basis: 100%
        &__list
            // margin-bottom: 10px
        &__item
            margin-bottom: 16px
        &__link
            font-size: 14px
            line-height: 20px
        &__logo
            margin-top: 40px
            margin-bottom: 15px
