@media (max-width: 992px)
    a,.btn
        &:hover
            cursor: default
    .link
        &:hover
            color: #1565D8

    .btn-primary
        &:hover
            background-color: $btnPrimary
@media (max-width: 960px)
    .container
        width: (960 - 2 * 55) / 960 * 100%
        // padding: 0 55px

@media (max-width: 768px)
    .container
        width: (768 - 2 * 20) / 768 * 100%
        // padding: 0 15px
    .container-2
        width: (768 - 2 * 48) / 768 * 100%
@media (max-width: 470px)
    .container
        // width: 100%
@media (max-width: 390px)
    .container-2
        width: (320 - 2 * 15) / 320 * 100%
