@media (max-width: 768px)
    .modal
        &__dialog
            max-width: 80%
            width: 100%
@media (max-width: 470px)
    .modal
        &__form
            label.invalid
                font-size: 12px
@media (orientation: landscape) and ( max-height: 480px )
  .modal
    &__dialog
      top: 50%
      max-height: 100%
      overflow-y: auto